/Deprecated/build
/Deprecated
/Deprecated2
/.vscode
/Deprecated/.cache
/LanguageEvaluators/C#/CSRunner/CSRunner/bin
/LanguageEvaluators/C#/CSRunner/CSRunner/obj
/LanguageEvaluators/C#/CSRunner/.idea
/LanguageEvaluators/C#/CSRunner/CSRunnerTests/bin
/LanguageEvaluators/C#/CSRunner/CSRunnerTests/obj
/Server/Server/obj
/Server/Server/bin
/Server/ServerTests/bin
/Server/ServerTests/obj
/Server/DatabaseIntegrationTests/obj
/Server/DatabaseIntegrationTests/bin
/FrontEnd/lambda_finder/.idea
/FrontEnd/lambda_finder/.dart_tool
/FrontEnd/lambda_finder/build
/FrontEnd/lambda_finder/ios
/FrontEnd/lambda_finder/linux
/FrontEnd/lambda_finder/macos
/FrontEnd/lambda_finder/windows
/FrontEnd/lambda_finder/web
/FrontEnd/lambda_finder/android