# Exclude Evaluator C++ build folder
/Deprecated/build
/Deprecated
/.vscode
/Deprecated/.cache
/LanguageEvaluators/C#/CSRunner/CSRunner/bin
/LanguageEvaluators/C#/CSRunner/CSRunner/obj
/LanguageEvaluators/C#/CSRunner/.idea
/LanguageEvaluators/C#/CSRunner/CSRunnerTests/bin
/LanguageEvaluators/C#/CSRunner/CSRunnerTests/obj
/Server/node_modules