# Exclude Evaluator C++ build folder
/Evaluator/build
/.vscode
/Evaluator/.cache
/LanguageEvaluators/C#/CSRunner/CSRunner/bin
/LanguageEvaluators/C#/CSRunner/CSRunner/obj
/LanguageEvaluators/C#/CSRunner/CSRunnerTests/bin
/LanguageEvaluators/C#/CSRunner/CSRunnerTests/obj